@import './variables.less';

body, html {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--body-color);
  font-family: Verdana;
  min-height: 100vh;
}

@media screen and (min-width: 1200px) {
  * {
    --nav-padding: .8rem 4rem;
    --section-padding: 4rem;
  }

  section h2 {
    font-size: 1.4rem;
  }

  .hero {
    grid-template-columns: repeat(2, minmax(0, 1fr));

    &__info {
      font-size: 15pt;
    }

  }

  .snippet {
    min-height: 20rem;
  }
}

h1, h2 {
  margin: unset;
  color: unset;
  line-height: 1.2em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.2rem;
  font-weight: 300;
}

menu {
  margin: unset;
}

.nav,
.mobile-nav {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: var(--nav-padding);

  background: var(--brand-color);
  color: var(--contrast-color-fg);

  font-weight: 600;
}

.nav {
  @media screen and (min-width: 1200px) {
    display: flex;

    menu > ul {
      display: flex;
      align-items: center;
      gap: 1.4rem;
    }

    .github-logo {
      padding: 1rem;

      &:hover {
        --icon-color: var(--contrast-color-fg);
        background: darken(@brand-color, 6%);
        color: var(--contrast-color-fg);
      }
    }
  }
}

.mobile-nav {
  display: flex;
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

section {
  margin: var(--section-padding);
}

.hero {
  display: grid;
  gap: 2rem;

  @media screen and (min-width: 768px) {
    gap: 6rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;

    h1 {
      font-size: 4rem;
      letter-spacing: -3px;

      u {
        color: var(--brand-color);
      }
    }
  }

  &__cta-button {
    display: block;
    padding: 1rem 3.6rem;
    border-radius: 6px;
    background: @brand-color;
    color: var(--contrast-color-fg) !important;

    &:hover {
      background: darken(@brand-color, 5%);
    }
  }

  &__command {
    display: flex;
    flex-direction: column;
  }

  &__command-box {
    display: inline-flex;
    background: var(--background-color);
    align-items: center;
    border-radius: 5px;
  }

  &__command-text, &__command-copy {
    padding: .8rem;
  }

  &__command-text {
    font-size: 11pt;
  }

  &__command-copied {
    font-size: 11pt;
    font-style: italic;
  }
}

.snippets {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;

  &__tabs {
    display: flex;
  }

  &__tab {
    flex: 1;
    text-align: center;
    padding: 1rem;
    font-family: monospace;
    font-size: 9pt;

    &--current {
      background: var(--background-color);
    }

    &:not(&--current) {
      background: @brand-color;
      color: var(--contrast-color-fg);
    }

    @media screen and (min-width: 768px) {
      cursor: pointer;
    }
  }
}

.snippet {
  font-size: 10pt;
  padding: 0 1rem;
  overflow: auto;
  height: 100%;
}

.snippet,
.snippet > * {
  background: var(--background-color) !important;
}


