.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  margin: 2rem 0;
}

#hero {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.tagline {
  font-size: 3rem;
  line-height: .92;
  font-weight: 900;
  letter-spacing: -1.5px;
  max-width: 960px;
  margin: 0 auto;

  color: transparent;
  background: linear-gradient(100deg, lighten(pink, 6%) 25%, darken(#b7dde9, 10%));
  background-clip: text;
}

.text {
  font-size: 16pt;
  font-weight: 500;
  opacity: .6;
}

.actions {
  display: flex;
  gap: .8em;
  justify-content: center;
}

.actions a:hover {
  color: initial;
}

.actions a {
  display: flex;
  align-items: center;
  font-weight: 400;
  text-decoration: none;
  padding: 1.2rem 1.6rem;
  border-radius: 6px;
  background: var(--theme-background-color-shade-4);
}

.actions a:hover {
  background: #eee;
}

.features {
  display: grid;
  gap: 1rem;
}

.features div {
  padding: 1rem;
  background: var(--theme-background-color-shade-4);
  border-radius: var(--theme-rounded-large);
}

.dark .actions a {
  background: #333;
}

.dark .actions a:hover {
  background: #444;
}

@media screen and (min-width: 768px) {
  section {
    width: 60rem;
  }

  #hero {
    padding: 0 2rem;
    gap: 1rem;
  }

  .tagline {
    font-size: 5rem;
  }

  .actions a {
    font-size: 12pt;
  }

  .features {
    grid-template-columns: repeat(3, 1fr);
  }
}
